.navbar-me {
    background-color: #3F0905;
    border-color: none;
    border: none;
    margin-bottom: 0px;
    height: 12vh;
    padding-top: 15px;
  }
    .navbar {
    border-radius: 0px;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  .navbar-default .navbar-nav > li > a:hover{
    background-color: rgb(110, 60, 60);
    border-radius: 20px;
    color: rgb(243, 13, 13);
  }
  .navbar-default .navbar-brand {
    color: white;
  }